.custom-scroll-container {
      max-height: 90px; /* Altura máxima antes de mostrar scroll */
      overflow-y: auto;
      padding-right: 4px; /* Espacio para el scroll */
      margin: 0.5rem 0;
        display: flex;     /* Nuevo: Para alinear el texto arriba */
    flex-direction: column;
     
    }
.custom-scroll-container p {
    text-align: justify; /* Texto justificado */
    margin-top: 0;       /* Elimina margen superior por defecto */
    flex-grow: 1;        /* Ocupa todo el espacio disponible */
    align-self: flex-start; /* Alinea el contenido al inicio */
}